
$white: #fff;
$black: #000;
$light-white: #fcfcfc;
$white-light: #cfcfcf;
$pearl: #eaf6ff;

$super-light-grey: #f0f0f0;
$very-very-light-grey: #eaf6ff;
$very-light-grey: #ddd;
$light-light-grey: #999;
$light-grey: #777;
$grey: #ccc;
$dark-grey: #333;

$green: #080;
$red: #d00;
$light-sky: #bfe4ff;
