// AnythingSlider v1.4.1+ Default (base) theme
//
// By Chris Coyier: http://css-tricks.com
// with major improvements by Doug Neiner: http://pixelgraphics.us/
// based on work by Remy Sharp: http://jqueryfordesigners.com/

.anythingSlider {
  margin: 0 auto;
  padding: 0;
  position: relative;

  .thumbNav {
    margin: 0;
    padding-top: 0;

    li {
      display: inline;

      a {
        // -moz-border-radius: 0 0 5px 5px;
        // -webkit-border-radius: 0 0 5px 5px;
        // background-image: url(../images/cellshade.png);
        // background-repeat: repeat-x;
        background-color: transparent !important;
        background-image: none;
        border-radius: 0;
        color: $black !important;
        display: inline-block;
        font: 11px/18px;
        font-family: Verdana,UbuntuBeta,Ubuntu,"Bitstream Vera Sans","DejaVu Sans",Tahoma,sans-serif;
        font-weight: bold;
        height: 100%;
        margin: 0 5px 0 0;
        outline: 0;
        padding: 2px 8px !important;
        text-align: center;
        text-decoration: none !important;

        &:hover {
          background-image: none;
          text-decoration: underline !important;
        }

        &.cur {
          background: $very-very-light-grey;
          background-color: $very-very-light-grey !important;
          color: $black !important;
          // padding: 0 5px !important;
          text-decoration: none !important;
        }
      }
    }
  }

  // anythingSlider viewport window
  .anythingWindow {
    // border-bottom: #ccc 1px solid !important;
    // border-top: 3px solid $light-grey;
    border: 0 none;
    border-bottom: $grey 1px solid;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .start-stop {
    background: {
      color: $green;
      image: url("../images/cellshade.png");
      position: center top;
      repeat: repeat-x;
    }
    border-radius: 0 0 5px 5px;
    color: $white;
    float: right;
    outline: 0;
    padding: 2px 5px;
    text: {
      align: center;
      decoration: none;
    }
    width: 40px;
    z-index: 100;

    &:hover,
    &.hover { background-image: none; }

    &.playing { background-color: $red; }

    &:hover,
    &.hover { color: $very-light-grey; }
  }

  // Active State
  &.activeSlider {
    // .anythingWindow { border-color: #7C9127; }

    .thumbNav {
      a {
        &,
        &.cur {
          // background-color: #7C9127;
          // font-size: 0.9em;
        }
      }
    }
  }

  // Navigation Arrows
  .arrow {
    display: block;
    position: absolute;
    top: 50%;

    a {
      display: block;
      height: 120px;
      margin: -60px 0 0;
      outline: 0;
      text-align: center;
      text-indent: -9999px;
      width: 45px;
    }
  }

  .forward {
    right: 0;

    a {
      background-position: 0 -40px;

      &:hover,
      &.hover { background-position: 0 -240px; }
    }
  }

  .back {
    left: 0;

    a {
      background-position: -88px -40px;

      &:hover,
      &.hover { background-position: -88px -240px; }
    }
  }

  // Navigation Links
  .anythingControls { outline: 0; }

  // slider autoplay right-to-left, reverse order of nav links to look better
  .rtl .thumbNav {
    float: left;

    a { float: right; } // reverse order of nav links
  }  // move nav link group to left
  // .anythingSlider.rtl .start-stop { float: right; } */ /* move start/stop button - in case you want to switch sides

  // Autoplay Start/Stop button


  &,
  .anythingWindow,
  .thumbNav a,
  .arrow a,
  .start-stop {
    transition-duration: 0;
  }
}

// anythingSlider base UL
ul {
  .anythingBase {
    background: transparent;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;

    .panel {
      background: transparent;
      display: block;
      float: left;
      margin: 0;
      padding: 0;
    }
  }
}
